configuration {
	show-icons: true;
	drun-display-format: "{name}";
}

@import "base.rasi"

inputbar {
	children: [ entry ];
}

listview {
	columns: 5;
	lines: 3;
}

element-text {
	horizontal-align: 0.5;
	vertical-align: 0.5;
}
