*
!/.gitignore
!/.gitignore/**
!/Kvantum
!/Kvantum/**
!/autostart
!/autostart/**
!/baloofilerc
!/baloofilerc/**
!/bspwm
!/bspwm/**
!/dunst
!/dunst/**
!/environment.d
!/environment.d/**
!/fish
!/fish/**
!/fontconfig
!/fontconfig/**
!/git
!/git/**
!/gtk-2.0
!/gtk-2.0/**
!/gtk-3.0
!/gtk-3.0/**
!/gtk-4.0
!/gtk-4.0/**
!/htop
!/htop/**
!/http-handler
!/http-handler/**
!/kdeglobals
!/kdeglobals/**
!/kitty
!/kitty/**
!/libinput-gestures.conf
!/libinput-gestures.conf/**
!/mpv
!/mpv/**
!/neofetch
!/neofetch/**
!/nvim
!/nvim/**
!/obs-studio
!/obs-studio/**
!/oomox
!/oomox/**
!/paru
!/paru/**
!/picom
!/picom/**
!/polybar
!/polybar/**
!/qt5ct
!/qt5ct/**
!/redshift
!/redshift/**
!/rofi
!/rofi/**
!/sh
!/sh/**
!/streamlink
!/streamlink/**
!/sx
!/sx/**
!/xplugrc
!/xplugrc/**
!/zsh
!/zsh/**
